body {

    margin: 0px;
    padding: 0px;
    background-color: black;

}

.containe {
    border-radius: 2px;
    font-weight: bold;
    font-size: 4em;
    position: absolute;
    top: 2%;
    left: 30%;
    height: 95%;
    width: 30%;
    border-radius: 20px;
    background-color: rgb(2, 22, 21);

}

#display {

    width: 100%;
    background-color: rgb(44, 167, 160);
    border: 5px solid rgb(2, 22, 21);
    border-radius: 10px;

}

#data {

    font-size: 25%;
    display: flex;
    position: absolute;
    left: 5%;
    top: 2%;
    color: white;
    text-shadow: 0.5px 0.5px 1px black;

}

#hora {

    font-size: 25%;
    display: flex;
    position: absolute;
    left: 80%;
    top: 2%;
    color: white;
    text-shadow: 0.5px 0.5px 1px black;

}

#conta {

    font-size: 100%;
    display: flex;
    padding-left: 5%;
    padding-top: 10%;
    color: white;
    text-shadow: 1px 1px 2px black;

}

#buttons {

    width: 100%;
    left: 3%;
    position: absolute;
    align-items: center;

}

#buttons .btn {

    padding: 10px;
    width: 20%;
    height: 80px;
    font-size: 50%;
    background-color: #20B2aa;
    border: 2px solid rgb(50, 164, 230);
    color: white;
    text-shadow: 1px 1px 2px black;

}

#buttons .btnOp {

    width: 20%;
    font-size: 62%;
    height: 80px;
    background-color: rgb(24, 9, 155);
    border: 2px solid rgb(3, 19, 88);
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 2px black;

}